html {
  scroll-behavior: smooth;
}

h1,h2 {
	 font-family: 'Bebas Neue', cursive;
}

body, li {
	font-family: 'Montserrat';
}

.btn:hover {
	filter: brightness(90%);
}

.vid-box {
	height: calc(100vh - 56px);
}

.middle-button {
	width: 4em;
	height: 4em;
	bottom: -2em;
}

.clothes-box {
	height: 100vh;
}

.clothes {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.logo {
	width: 2em;
	height: 2em;
	object-fit: cover;
}